
<div id="<%= dom_id inventory_food %>">

  <tbody>
    <tr>
      <td><%= inventory_food.food.name %></td>
      <td>  <%= inventory_food.quantity %></td>
      <td> <%= inventory_food.inventory.name %></td>
    </tr>
  </tbody>

</div>

