<div class="text-center ">
  <h1>New inventory food</h1>

  <%= render "form", inventory_food: @inventory_food %>

  <br>

  <div>
    <%= link_to "Back to inventory foods", inventory_foods_path,class: 'btn btn-sm btn-outline-dark' %>
  </div>
</div>


