<div class= "flex" id="<%= dom_id inventory %>">
  <p>
    <strong>Name:</strong>
    <%= inventory.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inventory.description %>
  </p>

</div>
