<h1>Inventories</h1>

<div id="inventories">
  <% @inventories.each do |inventory| %>
  <div class="inventory">
    <%= render inventory %>
  <% end %>
</div>

<%= link_to "New inventory", new_inventory_path %>
