<h1 class="text-center">Shopping List</h1>

<br>

<div class="flex" style="justify-content: space-between">
  <div>
    <h3>Amount of food to buy: </h3>
    <h3>Total value of food needed: </h3>
  </div>

  <div>
    <h3>Recipe: <%= @recipe.name%></h3>
    <h3>Inventory: <%= @inventory.name%></h3>
  </div>
</div>



