<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div>
      <%= link_to "Close", :back, class: 'btn btn-outline-danger'%>
    </div>
    <h1>New recipe</h1>

    <%= render "form", recipe: @recipe %>

    <br>

  </div>
<% end %>