<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div style="display: flex; justify-content: space-between">
  <%= link_to "Generate Shopping List", "#{shopping_list_index_path}?recipe_id=#{@recipe.id}", data: { turbo_frame: "modal" }, class: 'btn btn-primary', style:"margin-bottom: 12px" %>
  <%= link_to "Add Ingredient", new_recipe_path, class: 'btn btn-primary', style:"margin-bottom: 12px" %>
</div>

