<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <div class="text-right">
    <%= link_to "New food", new_food_path, class: 'btn btn-default' %>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
    </tbody>
  </table>

</div>


