<div class="col-md-6 mx-auto text-center">
  <h1>New food</h1>

  <%= render "form", food: @food %>

  <br>

  <div>
    <%= link_to "Back to foods", foods_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>

</div>
